@using OnyeijeSchool.ViewModels
@model UserClaimsViewModel
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <form method="post" asp-action="ManageUserClaims" asp-controller="Administration">
        <input type="hidden" asp-for="@Model.UserId>

        <div class="card">
            <div class="card-header">
                <h2>Manage User Claims</h2>
            </div>
            <div class="card-body">
                @for (int i = 0; i < Model.Claims.Count; i++)
                {
                    <div class="togglebutton">
                        <label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">


                            <input type="hidden" asp-for="@Model.Claims[i].ClaimType">

                            <input type="checkbox" asp-for="@Model.Claims[i].IsSelected">
                            <span class="toggle"></span>
                            @Model.Claims[i].ClaimType
                        </label>
                    </div>
                    @*<div class="form-check m-1">
                        <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                        <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />
                        <label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">
                            @Model.Claims[i].ClaimType
                        </label>
                    </div>*@

                    <div asp-validation-summary="All" class="text-danger"></div>
                }
            </div>
            <div class="card-body col-4">
                <input type="submit" value="Update" class="btn btn-primary btn-sm" style="width:auto" />
                <a asp-action="EditUser" asp-route-id="@Model.UserId" class="btn btn-rose btn-sm" style="width:auto">Cancel</a>
            </div>
        
    </form>